
$pink: rgba(255,168,168,1);
$light-pink: rgba(255,221,221,1);
$pink2: rgba(255,196,196,1);
$dark-pink: rgba(236,128,128,1);
$red: rgba(207, 86, 86,1);

$yellow: rgba(255,207,168,1);
$light-yellow: rgba(255,236,221,1);
$yellow2: rgba(255,223,196,1);
$dark-yellow: rgba(236,177,128,1);
$brown: rgba(207,141, 86,1);

$blue: rgba(107,163,163,1);
$light-blue: rgba(188,217,217,1);
$blue2: rgba(147,192,192,1);
$dark-blue: rgba( 77,142,142,1);
$sea-blue: rgba( 52,124,124,1);

$green: rgba(138,209,138,1);
$light-green: rgba(204,236,204,1);
$green2: rgba(172,223,172,1);
$dark-green: rgba(102,189,102,1);
$forest-green: rgba( 69,165, 69,1);

$grey: #5e5e5e;
$light-grey: #b5b5b5;
$white: #fff;
$off-white: #fafafa